<form novalidate (ngSubmit)="createRucksack(formRucksack)" [formGroup]="formRucksack">
    <div class="panel-primary">
        <div class="panel-heading header">
            <a routerLink="/">←</a>
            Новая задача
        </div>
        <div class="panel-body col-md-12">
            <div class="col-md-12">
                <span class="control-label col-md-10 header">ВМЕСТИМОСТЬ РЮКЗАКА</span>
                <input type="number" class="form-control col-md-3" formControlName="capacity">
            </div>
        </div>
        <things [formThings]="formRucksack"></things>
        <div class="panel-footer input-group">
            <div class="center-block">
                <button type="submit" class="btn btn-default btncontrol">
                    СОЗДАТЬ
                </button>
                <button type="button" (click)="cansel()" class="btn btn-default btncontrol">
                    ОТМЕНИТЬ
                </button>
            </div>
        </div>
    </div>
</form>