<div id="itemThing" class="text-center row itemThing" [formGroup]="formThing">
    <div class="col-md-7">
        <input type="text" class="form-control" formControlName="Name"/>
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" formControlName="Cost"/>
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" formControlName="Weight"/>
    </div>
    <button (click)="remove()" class="btn btn-default">
        X
    </button>
</div>