<div class="panel-body" [formGroup]="formThings">
    <div class="row">
        <label class="control-label col-md-7">Предмет</label>
        <label class="control-label col-md-2">Ценность</label>
        <label class="control-label col-md-2">Вес</label>
    </div>
    <div id="newThing" formArrayName="things">
        <div *ngFor="let thing of formThings.controls['things'].controls">
            <thing [formThing]="thing" (removeThing)="removeThing($event)"></thing>
        </div>
    </div>
    <div class="panel-body col-md-10" style="margin:15px">
        <button type="button" (click)="addThing()" class="btn btn-default">
            +
        </button>
    </div>
</div>