<div class="panel-primary">
    <div class="panel-heading header">
        Список задач
        <a routerLink="/create">
            <button class="btn btn-default btncontrol right btnNewTask">
                НОВАЯ ЗАДАЧА
            </button>
        </a>
    </div>
    <tasks></tasks>
</div>
