<div class="panel-body headerTask">
    <label class="control-label col-md-3">№ ЗАДАЧИ</label>
    <label class="control-label col-md-2">ВМЕСТИМОСТЬ РЮКЗАКА</label>
    <label class="control-label col-md-2">МАКСИМАЛЬНАЯ ЦЕННОСТЬ</label>
    <label class="control-label col-md-2">ПРОЦЕНТ ВЫПОЛНЕНИЯ</label>
    <label class="control-label col-md-2">СТАТУС</label>
</div>
<div class="form-group">
    <div id="Tasks">
        <ng-template #tasks> </ng-template>
    </div>
</div>