<div id="itemTask" class="panel-body" style="margin-bottom:15px">
    <div class="task col-md-3">{{task.Name}}</div>
    <div class="task col-md-2">{{task.Capacity}}</div>
    <div *ngIf="task.Status; else performed">
        <div class="task col-md-2">{{task.Cost}}</div>
        <div class="task col-md-2 col-md-offset-2">
            <a routerLink="/details/{{task.Id}}">Выполнено</a>
        </div>
    </div>
    <ng-template #performed>
            <div class="task col-md-2 col-md-offset-2">{{task.Percent}}</div>
            <div class="task col-md-2">
                <label>Выполняется</label>
            </div>
    </ng-template>
    <button (click)="removeTask(task.Id)" class="btn btn-default">
        X
    </button>
</div>
