﻿body {
    background-color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.header {
    padding-left: 0px;
    padding-right: 0;
}

.h2Deatail { padding-left: 15px }

.headerTask {
    background-color: whitesmoke;
    bottom: 0
}

.itemTaskList { margin-bottom: 15px }

.btnNewTask {
    float: right;
    margin-right: 0;
}

.itemThing { margin-bottom: 15px; }

.btncontrol {
    height: 40px;
    width: 150px;
}

.centr {
    margin-left: auto;
    margin-right: auto;
}

.content { background-color: white; }

.field-validation-error { color: #f00; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #fee;
    border: 1px solid #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

.row-flex {
    display: flex;
    flex-flow: row wrap;
}